
.chart {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.chart-plot-background {
    -fx-background-color: #404345;
    /*-fx-opacity: 1.0;*/
}

/*
.chart-alternative-row-fill {
    -fx-fill: #333333;
    -fx-opacity: 0.9;
}
*/

.chart-horizontal-grid-lines {
    -fx-stroke: #666666;
}

.chart-vertical-grid-lines {
    -fx-stroke: #666666;
}

/*
.chart-series-line {
    -fx-stroke: white;
}

.chart-series-line-symbol {
    -fx-background-color: white, white;
    -fx-background-radius: 0px, 0px;
    -fx-padding: 2px;
}

*/
.chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: white;    
}


.chart-legend-item-symbol {
    -fx-padding: 3px;
}

.chart-legend-item{
    -fx-text-fill: white;
    -fx-padding: 3px;
}

.chart-title {
    -fx-text-fill: white;
}
