

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;  
    width:100%;
    height:44px;  
    /*background-color: rgb(237,239,242);  */
}

.singleline{
    white-space: nowrap;
    overflow: hidden;  
}

.horizontalscroll{
    white-space: pre;
    overflow-x: auto; 
}

.single-line-list{
    white-space: nowrap;
    overflow-x: auto; 
}

.rightalign{
    position: absolute;
    right: 20px;
}

.rightbottomalign{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.leftalign{
    position: absolute;
    left: 20px;
}

.leftalign2{
    position: absolute;
    left: 300px;
}

.statusBar{
    margin-top: 12px;
}

.statusBarText{    
    font-size:12px;
    height:15px;
    background-color: #f6f6f6;
    cursor:default;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 12px;             
}

.text-container {
    /* box-sizing: border-box;
    width: 970px;	
    margin: 15px auto 30px auto;*/
    margin: 2px 15px 2px 15px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #cccccc;	
    outline: none; /*Remove blue glow on chrome*/

    width: '100.00%';        
}

textarea {
  resize: vertical;
}

.borderless-container {
    /* box-sizing: border-box;
    width: 970px;	
    margin: 15px auto 30px auto;*/
    margin: 2px 15px 2px 15px;
    padding: 5px 5px 5px 5px;    
    width: '100.00%';        
}

.table-container {
    margin: 2px 15px 2px 15px;
    width: '100.00%';
    font-size: 12px;
}
.graph-container {
    /* box-sizing: border-box;
    width: 970px; */
    height: 512px;
    padding: 5px 5px 5px 5px;
    margin: 2px 15px 2px 15px;
    border: 1px solid #cccccc;	
}

.plot {
    display:block;
    margin:auto;
    margin-top: 18px;
}

.header_button {
    width:58px; 
    font-size:smaller; 
}

.shadow_ro {
    background: #f5f5f5;
    background: linear-gradient(#eeeeee 0, #f5f5f5 50px);
    background: -o-linear-gradient(#eeeeee 0, #f5f5f5 50px);
    background: -ms-linear-gradient(#eeeeee 0, #f5f5f5 50px);
    background: -moz-linear-gradient(#eeeeee 0, #f5f5f5 50px);
    background: -webkit-linear-gradient(#eeeeee 0, #f5f5f5 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.shadow {
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin: 2px 15px 2px 15px;
}

.progress {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}


.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}



/* Default for very small widths — behaves like normal container */
.flex-margin  {
    max-width   : 100%;
}

/* Larger than Bootstrap XL (~1200px) */
@media (min-width: 768px) {
    .flex-margin  {
        max-width: 98%;  /* scale to screen */
    }
}








